@charset "ISO-8859-1";


.page-wrapper {
	height:100px;
}

.home {
	margin-left:20px;
	
}



/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}
/*Profile Pic End*/


/* login registration start */

/* #login_form{
	padding:25px;
	width:350px;
	margin-left:auto;
	background: green;
	text-align:center;
	position:relative;
	transition: all ease-in-out .2s;
	top:-415px;
}
fix this annotation VVVV
#login_form.h1{
	margin-top:0;
	color:white;
}

#login_list{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
}


fix this annotation VVVV
#login_list.txt{
	height:25px;
	width:250px;
	margin-bottom:20px;
	padding:3px 2px;
	font-size: 20px;
	border-radius: 5px;
	border:none;
	padding-left: 10px;
}


#login_list p {
	font-size:20px;
	color:white;
}


#login_list .button{
	width:150px;
	height:30px;
	font-size:20px;
	border-radius:30px;
	border:none;
	background: yellow;
	cursor:pointer;
	
}

#login_form a{
	color:white;
	font-size: 20px;
	
}
#check{
	display:none;
}

label #btn, label #cancel{
	position:absolute;
	cursor:pointer;
	background: black;
	border-radius: 3px;
}

label #btn {
	right:2pc;
	top:20px;
	font-size: 20px;
	color:white;
	padding:6px 10px;
	transition: all .2s ease;
}

label #cancel{
	z-index: 1111;
	right: 1pc;
	top:-30px;
	font-size:20px;
	color:white;
	padding: 3px 9px;
	transition: all .2s ease;
}



#check:checked ~ #login_form{
	top: 0;
	
}
#check:checked ~ label #btn{
	right: 0;
	opacity:0;
	pointer-events: none;
	
	
}

#check:checked ~ #cancel{
	top: 55px;
	
} */
/* login registration end */





/* all footer styling */
.footer {
    background: #151414;
    color: #d3d3d3;
    height: 400px;
    position: relative;

}

.footer .footer-content{
    
height: 350px;
display: flex;
}


.footer .footer-content .about .socials a{
    width: 30px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
   

}

.footer .footer-content .about .socials a{
    width: 30px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
   

}


.footer .footer-content .links .contacts span{
   display: block;
   margin-bottom: 6px;
  
    

}

.footer .footer-content .contact-form a{
    vertical-align: 10px;
}


.footer .footer-content .footer-section{
    flex:1;
    padding:25px;
    border: 1px solid white;
}


.footer .footer-bottom {
    background: #1f1f1f;
    color: #ffffff;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top:20px;
}
/* footer styling end */
